@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --primary-50: oklch(94.993% 0.02868 329.109);
  --primary-100: oklch(90.203% 0.05535 330.663);
  --primary-200: oklch(80.731% 0.11629 331.512);
  --primary-300: oklch(72.031% 0.17276 332.639);
  --primary-400: oklch(64.68% 0.22335 333.863);
  --primary-500: oklch(59.254% 0.24975 335.327);
  --primary-600: oklch(50.385% 0.21107 335.206);
  --primary-700: oklch(40.938% 0.16843 335.08);
  --primary-800: oklch(31.129% 0.12454 334.755);
  --primary-900: oklch(20.348% 0.07275 334.111);
  --primary-950: oklch(0% 0 0);

  --secondary-50: oklch(96.997% 0.01553 42.083);
  --secondary-100: oklch(93.923% 0.03123 45.146);
  --secondary-200: oklch(87.839% 0.06488 43.444);
  --secondary-300: oklch(82.324% 0.10064 43.383);
  --secondary-400: oklch(76.932% 0.13657 42.582);
  --secondary-500: oklch(72.256% 0.1704 41.902);
  --secondary-600: oklch(63.177% 0.15105 41.64);
  --secondary-700: oklch(53.917% 0.13017 41.888);
  --secondary-800: oklch(43.93% 0.10781 41.254);
  --secondary-900: oklch(33.668% 0.08482 41.502);
  --secondary-950: oklch(22.328% 0.06258 43.803);

  --accent-50: oklch(97.346% 0.02096 197.106);
  --accent-100: oklch(94.705% 0.04218 194.781);
  --accent-200: oklch(89.944% 0.0799 194.916);
  --accent-300: oklch(85.996% 0.1108 193.191);
  --accent-400: oklch(82.556% 0.12973 193.118);
  --accent-500: oklch(79.784% 0.136 192.427);
  --accent-600: oklch(67.631% 0.115 192.612);
  --accent-700: oklch(54.865% 0.09312 191.954);
  --accent-800: oklch(41.052% 0.06895 193.453);
  --accent-900: oklch(26.206% 0.04334 192.404);
  --accent-950: oklch(0% 0 0);

  --background: var(--color-white);
  --foreground: var(--primary-950);

  --card: var(--color-white);
  --card-foreground: var(--primary-950);

  --popover: var(--color-white);
  --popover-foreground: var(--primary-950);

  --primary: var(--primary-500);
  --primary-foreground: var(--color-white);

  --secondary: var(--secondary-100);
  --secondary-foreground: var(--secondary-950);

  --muted: var(--primary-50);
  --muted-foreground: var(--primary-950);

  --accent: var(--accent-50);
  --accent-foreground: var(--accent-950);

  --destructive: oklch(57.707% 0.21516 27.312);

  --border: var(--color-stone-100);
  --input: var(--color-stone-100);
  --ring: var(--primary-500);

  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-500);
  --chart-3: var(--accent-500);
  --chart-4: var(--primary-300);
  --chart-5: var(--secondary-300);

  --radius: 0.625rem;

  --sidebar: var(--primary-50);
  --sidebar-foreground: var(--primary-950);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--accent-50);
  --sidebar-accent-foreground: var(--accent-950);
  --sidebar-border: var(--color-stone-100);
  --sidebar-ring: var(--primary-500);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  html {
    @apply font-sans;
  }
}
